- Grantee.all.each_with_index do |grantee, index|
  - if index % 2 == 0
    .row.featuredwinners-winner
      .col-sm-5
        .borderbox.padded
          %p.prose.guide= grantee.project_name
          .featuredwinners-winnermeta
            .goalcolorbox.cyan LEARN
            .winnerlabel
              = image_tag 'icon-gift.svg'
              #{grantee.year} Winner
          %p.guide= grantee.description
          %a.button{ href: grantee.action_url } Learn more
      .col-sm-7
        = image_tag grantee.photo.url(:medium), class: 'featuredwinners-image'
  - else
    .row.featuredwinners-winner
      .col-sm-7
        = image_tag grantee.photo.url(:medium), class: 'featuredwinners-image'
      .col-sm-5
        .borderbox.padded
          %p.prose.guide= grantee.project_name
          .featuredwinners-winnermeta
            .goalcolorbox.cyan LEARN
            .winnerlabel
              = image_tag 'icon-gift.svg'
              #{grantee.year} Winner
          %p.guide= grantee.description
          %a.button{ href: grantee.action_url } Learn more

.row
  - Grantee.all.each do |grantee|
    = render partial: 'grantees/minigrantee', locals: { grantee: grantee }