- big = Grantee.offset(rand(Grantee.count)).limit(3)
- big.all.each_with_index do |grantee, index|
  - if index % 2 == 0
    .row.featuredwinners-winner
      .col-sm-5
        .borderbox.padded
          %p.prose.guide= link_to grantee.project_name, grantee.submission_url
          .featuredwinners-winnermeta
            - grantee.goals.each do |goal|
              = link_to goal.name, "/goals/#{goal.name}", class: "goalcolorbox #{goal.color}"
              
            .winnerlabel
              = image_tag 'icon-gift.svg'
              #{grantee.year} Winner
          %p.guide= grantee.description
          %a.button{ href: grantee.action_url } Learn more
      .col-sm-7
        - if grantee.video_url.present?
          .featuredwinners-video
            = auto_html(grantee.video_url) { youtube(width: '100%') }
  - else
    .row.featuredwinners-winner
      .col-sm-7
        - if grantee.video_url.present?
          .featuredwinners-video
            = auto_html(grantee.video_url) { youtube(width: '100%') }
      .col-sm-5
        .borderbox.padded
          %p.prose.guide= link_to grantee.project_name, grantee.submission_url
          .featuredwinners-winnermeta
            - grantee.goals.each do |goal|
              = link_to goal.name, "/goals/#{goal.name}", class: "goalcolorbox #{goal.color}"
            .winnerlabel
              = image_tag 'icon-gift.svg'
              #{grantee.year} Winner
          %p.guide= grantee.description
          %a.button{ href: grantee.action_url } Learn more

.row.minigrantees
  - Grantee.where.not(id: big.map(&:id)).each do |grantee|
    = render partial: 'grantees/minigrantee', locals: { grantee: grantee }