.col-md-4.margin-bottom
  .winnersmall-meta      
    - grantee.goals.each do |goal|
      = link_to goal.name, "/goals/#{goal.name}", class: "goalcolorbox #{goal.color}"
    .winnerlabel
      = image_tag 'icon-gift.svg'
      #{grantee.year} Winner
  .winnersmall-img
    - if grantee.video_url.present?
      .winnersmall-video
        = auto_html(grantee.video_url) { youtube(width: '100%') }
    - else 
      = image_tag grantee.photo.url(:small)
  %div
    %h3= link_to truncate(grantee.project_name), grantee.submission_url
    %p.light= truncate(grantee.description, length: 150)