= render 'application/nav'

.background-white.paddedsection
  .container
    .row
      .col-md-12
        %h1.margin-bottom Blog Posts

    .row
      .col-sm-8
        - @posts.each do |post|
          = render partial: 'post', locals: { post: post }


          = comfy_paginate @posts

      .col-sm-4.blognav
        %h3 Keep up with LA2050
        / Begin MailChimp Signup Form
        #mc_embed_signup
          %form#mc-embedded-subscribe-form.validate{:action => "//la2050.us6.list-manage.com/subscribe/post?u=81b6d7b4efb839b992bf7ae72&amp;id=b16f498212", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
            #mc_embed_signup_scroll
              .mc-field-group
                %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "", :placeholder => 'Your email'}
              #mce-responses.clear
                #mce-error-response.response{:style => "display:none"}
                #mce-success-response.response{:style => "display:none"}
              / real people should not fill this in and expect good things - do not remove this or risk form bot signups
              %div{:style => "position: absolute; left: -5000px;"}
                %input{:name => "b_81b6d7b4efb839b992bf7ae72_b16f498212", :tabindex => "-1", :type => "text", :value => ""}/
              .clear
                %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Email me things"}/

        .linebreak

        .blog-sidenav
          .col-xs-6.col-sm-12
            %h3 Tags
            %ul.margin-bottom
              - Comfy::Blog::Tag.all.each do |tag|
                %li= link_to tag.name, tag: tag.name

          .col-xs-6.col-sm-12
            %h3 Archives
            %ul
              - Comfy::Blog::Post.all.each do |post|
                %li= link_to post.title, comfy_blog_post_path(@cms_site.path, @blog.path, post.slug)

= cms_snippet_render(:footer)
