
- unless @metric.percent_of_target.nil?
  .pillbox-wrap
    - if @metric.percent_of_target < 100
      .pillbox-outer
        .pillbox-inner{style: "width:#{@metric.percent_of_target.to_f}%;" }

      .pillbox-axis
        - @metric.data_points.each do |data_point|
          .pillbox-value{style: "width:#{data_point.percent_of_target.to_f}%;" }= data_point.value_with_units
          .pillbox-year{style: "width:#{data_point.percent_of_target.to_f}%;" }= data_point.data_time.year

    - else
      .pillbox-outer{style: "width:#{(100 / @metric.percent_of_target.to_f) * 100}%;" }
      .pillbox-inner.exceeds

      .pillbox-axis
        - @metric.data_points.each do |data_point|
          .pillbox-value{style: "width:#{data_point.percent_of_target.to_f / @metric.percent_of_target.to_f * 100}%;" }= data_point.value_with_units
          .pillbox-year{style: "width:#{data_point.percent_of_target.to_f / @metric.percent_of_target.to_f * 100}%;" }= data_point.data_time.year