- metrics_from_params.each do |metric|
  %tr
    %td
      = metric.name
      - metric.goals.each do |goal|
        = link_to goal.name, "/goals/#{goal.name}", class: "goallabel #{goal.color}"

    %td.text-right
      = link_to 'View Metric', metric_path(metric)