%tbody
	- Job.all.each do |job|
		%tr
			%td
				= job.title
				- job.goals.each do |goal|
					= link_to goal.name, "/goals/#{goal.name}", class: "goallabel #{goal.color}"

			%td= job.organization
			%td= job.employment_type
			%td #{time_ago_in_words(job.created_at)} ago