%tbody
	- jobs_from_params.each do |job|
		%tr
			%td
				= link_to job.title, job_path(job)
				- job.goals.each do |goal|
					= link_to goal.name, "/goals/#{goal.name}", class: "goallabel #{goal.color}"

			%td
				- job.organizations.each do |org|
					= "#{org.name}"
			%td= job.employment_type
			%td=  "#{time_ago_in_words(job.date_posted)} ago"